@import "../../global.scss";

.home {
    //overflow: hidden;
    height: 100vh;

    .sections {
        width: 100%;
        height: calc(100vh - 70px);
        //height: 100%;
        margin-top: 70px;
        //background-color: $mainColor;
        //position: relative;
        scroll-behavior: smooth;
    }
}