.top-navbar {
    width: 100%;
    height: 70px;
    background-color: rgb(19, 45, 77);
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;
    overflow: hidden;

    .wrapper {
        padding: 0px 30px;
        padding-top: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .left {
            flex: 0.3;
            //background-color: yellow;

            .logo-container {
                .link {
                    text-decoration: none;
                    color: #bdbbbb;
                    font-weight: bold;
                    font-size: 50px;
                    cursor: pointer;
                    font-style: italic;

                    &:active {
                        font-style: italic;
                    }
                }

                a {
                    img {
                        width: 60px;
                    }
                }

            }
        }

        .right-section {
            flex: 0.7;
            display: flex;
            justify-content: flex-end;

            ul {
                display: flex;
                flex-direction: row;

                li {
                    text-decoration: none;
                    margin-left: 15px;
                    font-size: 18px;
                    color: #FFFFFF;
                    cursor: pointer;

                    .link {
                        text-decoration: none;
                        color: #FFFFFF;
                    }

                    :hover {
                        color: #3DCFD3;
                    }
                }

                :hover {
                    color: #3DCFD3;
                }
            }
        }
    }

    &.active {
        background-color: #000000;
        color: #FFFFFF;
        overflow: hidden;

        .left {
            flex: 0.6;
        }

        .right {
            flex: 0.4;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .hamburger {
                span {
                    &:first-child {
                        background-color: #bdbbbb;
                        transform: rotate(45deg)
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:last-child {
                        background-color: #bdbbbb;
                        transform: rotate(-45deg)
                    }
                }
            }
        }
    }
}

/* For MOBILE PHONES - Till 415px width (
    Moto G4, Galaxy S5 - 360px,
    Pixel 2, Pixel 2 XL- 411px, 
    iphone 5/SE - 320px, iphone 6/7/8 - 375px, iphone 6/7/8 plus - 414px)
    iphone X - 375px, 
    
    */
@media only screen and (max-width: 415px) {
    .top-navbar {

        .wrapper {
            padding: 10px 20px;
            padding-top: 8px;
            padding-left: 10px;
            //background-color: orange;

            .left {
                flex: 0.5;
                padding-left: 0px;

                //background-color: pink;

                .logo-container {
                    .link {
                        font-size: 45px;
                    }

                    a {
                        img {
                            width: 55px;
                            height: 55px;
                        }
                    }
                }


            }

            .right {
                flex: 0.5;
                //background-color: pink;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .hamburger {
                    width: 30px;
                    height: 24px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-end;
                    cursor: pointer;
                    //background-color: blue;

                    span {
                        width: 100%;
                        height: 3px;
                        background-color: #bdbbbb;
                        transform-origin: left;
                        transition: all 2s ease;
                    }
                }
            }

            .right-section {
                flex: 0;
                width: 0;

                ul {

                    li {
                        font-size: 0;
                    }
                }
            }
        }
    }
}


/* For SMALL TABLETS - From 416px  - 769px width (
    Surface Duo - 540px.
    iPad - 768px,
    */

// This CSS is same as above for max-width: 415px
@media only screen and (min-width: 416px) and (max-width: 769px) {
    .top-navbar {

        .wrapper {
            padding: 10px 20px;
            padding-left: 10px;
            //background-color: orange;

            .left {
                flex: 0.8;
                padding-left: 0px;

                //background-color: pink;

                .logo-container {
                    .link {
                        font-size: 45px;
                    }
                }


            }

            .right {
                flex: 0.2;
                //background-color: pink;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .hamburger {
                    width: 30px;
                    height: 24px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-end;
                    cursor: pointer;
                    //background-color: blue;

                    span {
                        width: 100%;
                        height: 3px;
                        background-color: #3DCFD3;
                        transform-origin: left;
                        transition: all 2s ease;
                    }
                }
            }

            .right-section {
                flex: 0;
                width: 0;

                ul {

                    li {
                        font-size: 0;
                    }
                }
            }
        }
    }
}

/* For LARGE TABLETS - From 770px  - 1025px width (
    iPad Pro - 1024px.
    */
@media only screen and (min-width: 770px) and (max-width: 1025px) {
    .top-navbar {

        .wrapper {
            padding: 15px;
            padding-left: 20px;

            .left {
                flex: 0.3;
                /* img {
                        width: 105px;
                    } */

                .logo-container {
                    .link {
                        font-size: 35px;
                    }
                }
            }

            .right-section {
                flex: 0.7;
                display: flex;
                justify-content: flex-end;


                ul {
                    display: flex;
                    flex-direction: row;

                    li {
                        text-decoration: none;
                        margin-left: 15px;
                        font-size: 15px;
                        color: #FFFFFF;
                        cursor: pointer;

                        .link {
                            text-decoration: none;
                            color: #FFFFFF;
                        }

                        :hover {
                            color: #3DCFD3;
                        }
                    }

                    :hover {
                        color: #3DCFD3;
                    }
                }
            }
        }
    }
}