.top-navbar {
    width: 100%;
    height: 70px;
    background-color: #000000;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;
    overflow: hidden;

    .wrapper {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .left {
            flex: 0.6;
            //background-color: yellow;

            img {
                width: 135px;
            }
        }
    }

    &.active {
        background-color: #000000;
        color: #FFFFFF;
        overflow: hidden;

        .right {
            flex: 0.4;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .hamburger {
                span {
                    &:first-child {
                        background-color: #3DCFD3;
                        transform: rotate(45deg)
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:last-child {
                        background-color: #3DCFD3;
                        transform: rotate(-45deg)
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .top-navbar {

        .wrapper {
            padding: 10px 20px;
            padding-left: 10px;
            //background-color: orange;

            .left {
                flex: 0.5;
                padding-left: 0px;

                img {
                    width: 105px;
                }
            }

            .right {
                flex: 0.5;
                //background-color: pink;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .hamburger {
                    width: 30px;
                    height: 24px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-end;
                    cursor: pointer;
                    //background-color: blue;

                    span {
                        width: 100%;
                        height: 3px;
                        background-color: #3DCFD3;
                        transform-origin: left;
                        transition: all 2s ease;
                    }
                }
            }

            .right-section {
                width: 0;
                ul {

                    li {
                        font-size: 0;
                    }
                }
            }
        }
    }
}



@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .top-navbar {

        .wrapper {

            .left {

                img {
                    width: 105px;
                }
            }

            .right-section {
                flex: 2;
                display: flex;
                justify-content: flex-end;


                ul {
                    display: flex;
                    flex-direction: row;

                    li {
                        text-decoration: none;
                        margin-left: 10px;
                        font-size: 13px;
                        color: #FFFFFF;
                        cursor: pointer;

                        .link {
                            text-decoration: none;
                            color: #FFFFFF;
                        }

                        :hover {
                            color: #3DCFD3;
                        }
                    }

                    :hover {
                        color: #3DCFD3;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    .top-navbar {

        .wrapper {

            .left {
                img {
                    width: 145px;
                }
            }

            .right-section {
                flex: 2;
                display: flex;
                justify-content: flex-end;

                ul {
                    display: flex;
                    flex-direction: row;

                    li {
                        text-decoration: none;
                        margin-left: 25px;
                        font-size: 18px;
                        color: #FFFFFF;
                        cursor: pointer;

                        .link {
                            text-decoration: none;
                            color: #FFFFFF;
                        }

                        :hover {
                            color: #3DCFD3;
                        }
                    }

                    :hover {
                        color: #3DCFD3;
                    }
                }
            }
        }
    }
}