/* Footer Section */

footer {
    background: #000000;
    text-align: center;
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .footer-logo {
        margin-bottom: 2rem;
        width: 150px;
    }

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        a {
            margin-left: 20px;

            img {
                width: 50px;
                height: 50px;
            }
        }
    }

    .copyright {
        color: #a19e9e;
    }


}

.btnScrollToTop {
    position: fixed;
    right: 25px;
    bottom: 15px;
    border-radius: 10%;
    outline: none;
    cursor: default;
    border: none;
    /* z-index: 3; */
    text-align: center;
    font-size: 25px;
    /* opacity: 0;
    pointer-events: none; */
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    a {
        width: 35px;
        height: 35px;
        //background: #93d1d3;
        background: grey;
        overflow: hidden;
        &:focus {
            outline: none;
        }

        &:visited {
            color: #FFFFFF;
        }

        &:active {
            background: rgb(194, 192, 192);
            color: #FFFFFF;
            outline: none !important;
        }

        i {
            height: 30px;
        }



        .show {
            opacity: 1;
            pointer-events: auto;
        }
    }
}


/* For MOBILE PHONES - Till 415px width (
    Moto G4, Galaxy S5 - 360px,
    Pixel 2, Pixel 2 XL- 411px, 
    iphone 5/SE - 320px, iphone 6/7/8 - 375px, iphone 6/7/8 plus - 414px)
    iphone X - 375px, 
    
    */
    @media only screen and (max-width: 415px) {
        footer {
            padding: 2rem 0;
        
            .social {
        
                a {
                    margin-left: 20px;
        
                    img {
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        
            .copyright {
                color: #a19e9e;
            }
        
        
        }
    }