.funding-corner {
    margin-top: 70px;

    padding: 40px 100px;

    h1,
    p {
        margin: 10px 0;
        text-align: center;
    }

    p {
        margin-bottom: 50px;
    }

    h3 {
        color: rgb(47, 47, 158);
        margin-bottom: 30px;
        font-size: 22px;
    }

    .section1-container {

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;


        .left {
            flex: 0.6;

            .image-container {
                width: 100%;
                height: 500px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 50px;

                img {
                    width: 85%;
                    height: 100%;
                }
            }
        }

        .right {
            flex: 0.4;

            .info-container {

                h4 {
                    font-size: 16px;
                }

                p {
                    font-size: 13px;
                    text-align: justify;
                }
            }
        }




    }

    /* Section 2 */
    .container {

        .section-container {

            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .card {

                width: 400px;
                text-align: center;
                margin-bottom: 20px;
                cursor: pointer;
                border-radius: 6px;
                margin: 20px 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                transition: 0.3s;

                .image-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 200px;
                    text-align: center;
                    .banner {
                        width: 100%;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    padding: 10px 0;

                    >* {
                        margin-bottom: 10px;
                    }

                    .info1 {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 10px 10px;

                        .logo {
                            width: 15%;
                        }

                        h5 {
                            font-size: 20px;
                            color: #383374;
                        }
                    }

                    .info2 {
                        padding: 0 10px;
                        h5 {
                            font-size: 15px;
                            text-align: left;
                            
                            color: grey;
                        }
    
                        
    
                        p {
                            width: 90%;
                            font-size: 13px;
                            text-align: justify;
                        }
    
                        h2 {
                            font-size: 20px;
                            color: orange;
                        }
                    }
                }
            }
        }
    }
}